#container{
    display: flex;
    flex-direction: column;
    display: none;
    margin: 1em;
    width: 30vw;
}

input{
    width: 20em;
}

#validacion{
    color: red;
}

#botones{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 1em;
    width: 30vw;
}

#botones button{
    width: 10em;
    margin-right: 1em;
}